// Colors
$color-white: rgba(241, 241, 241, 0.933);
$color-purple-light: rgb(173, 94, 218);
$color-purple-dark: rgb(82, 11, 164);
$color-blue: rgb(1, 96, 169);


// Text shadow colors
$shadow-color-primary: #e23b4a;
$shadow-color-secondary: #23966c;
$shadow-color-tertiary: #faaa54;
$shadow-color-quaternary: #db0768;
$shadow-color-quinary: #360670;


// Break points
$media-xLarge:1200px;
$media-large: 991px;
$media-medium:768px;
$media-small:600px;
$media-xSmall:480px;